<div id="contact" class="container-fluid" style="padding-top:70px;background-color:white;color: black">
        <div class="row">
            <div class="col-sm-12 text-center"><h1>CONTACT US</h1></div>
        </div>
        <br>
        <br>
        <br>
        <div class="row">
            <div class="col-sm-4">
                <address>
                    <strong>Address</strong><br>
                    You can come by our office at<br>
                    Accra,Ghana<br>
                    Mobile: +233546998765<br>
                    Email: example@example.com<br>
                </address>
            </div>
            <div class="col-sm-8">
                <form action="#" method="post">
                    <div class="form-group has-warning">
                        <label for="name" style="color:red">Name</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group has-warning">
                        <label for="email" style="color:red">Email</label>
                        <input type="email" class="form-control" placeholder="example@example.com">
                    </div>
                    <div class="form-group">
                        <label for="subject" style="color:#20B2AA">Subject</label>
                        <textarea class="from-control col-sm-12"></textarea>
                    </div>
                        <br>
                        <br>
                        <br>
                        <button type="submit" class="btn btn-info" style="float:right">Send</button>
                </form>
            </div>
        </div>
    </div>