<div class="container">
    <!--modal-->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <!--modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 style="color:brown;">
                        <span class="glyphicon glyphicon-lock"></span> Login</h4>
                    <p>Are you a new user?
                        <a href="/sign">Register Now</a>
                    </p>
                </div>
                <div class="modal-body">
                    <form id="loginform" class="modal-form" action="/target" method="post" onsubmit="return sendlogindata()">
                        <i><span class="msg"></span></i>
                        <div class="form-group">
                            <label for="tel">Mobile number</label>
                            <input type="tel" name="tel" class="form-control num" required id="tel"  minlength="10" maxlength="10" placeholder="example: 0240000000">
                        </div>
                        
                        <div class="form-group">
                            <label for="psw">Password</label>   
                            <input type="password" name="password" class="form-control passwd" id="psw" required>
                        </div>
                        <div class="form-group">
                            <label for="cpsw">Confirm Password</label>
                            <input type="password" class="form-control cpasswd" id="cpsw" required>
                        </div>

                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="checkbox" value="checked">Remember me</label>
                        </div>
                        <button type="submit" class="btn btn-default btn-success btn-block">Submit</button>
                    </form>
                    <div class="modal-footer">
                        <p>
                            <a href="/passreset">Forgot Password?</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--login hide div ends here-->