<header>
    <nav class="navbar navbar-default" style="border: 0px; border-radius: 0px; background:-webkit-linear-gradient( #ee3030, rgb(59, 58, 58));" >
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" onclick="openNav()">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/dashboard" style="color:white">User Backend</a>
            </div>
            
            <div class="collapse navbar-collapse" id="myNavbar"> 
            </div>
        </div>
    </nav>
</header>