<header>
    <nav class="navbar navbar-default" style="background-color:#ee3030; border-radius:0px;" >
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" onclick="openNav()">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/dashboard" style="color:white">User Backend</a>
            </div>
            
            <div class="collapse navbar-collapse" id="myNavbar"> 
            </div>
        </div>
    </nav>
</header>