<header>
    <nav class="navbar navbar-default" style="border: 0px; border-radius: 0px; background:-webkit-linear-gradient( rgb(252, 249, 249), rgba(237, 238, 225, 0.993) );" >
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" onclick="openNav()">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/dashboard" style="color:rgb(133, 131, 131)"><strong>User Backend</strong></a>
            </div>
            
            <div class="collapse navbar-collapse" id="myNavbar"> 
            </div>

            <div class="pull-right">
                <form method="POST" action="/logout">
                    <button>Logout</button>
                </form>
            </div>
        </div>
        
    </nav>
</header>