<footer>
    <div id="gotop" ><i></i></div>
    <h3 style="text-align:center">Follow Us</h3>
    <br>
    <div style="text-align:center">
        <a href="#" title="facebook"><img class="img-circle" style="width:20px;height:20px" src="/public/img/facebook.jpg" alt="facebook-icon"></a>
        <a href="#" title="twitter"><img class="img-circle" style="width:20px;height:20px" src="/public/img/twitter.png" alt="twitter-icon"></a>
        <a href="#" title="Google+"><img class="img-circle" style="width:20px;height:20px" src="/public/img/google+.png" alt="Google+-icon"></a>
        <a href="#" title="LinkedIn"><img class="img-circle" style="width:20px;height:20px" src="/public/img/LinkedIn.png" alt="LinkedIn-icon"></a>
    </div>
    <br>
    <div style="text-align:center" id="date"></div>
    <script>
        var yr = new Date().getFullYear();
        var el = document.getElementById('date');
        el.innerHTML = "<p>&copy "+yr+" Transpo Ghana. All rights reserved.</p>";
    </script>
</footer>

<!--site javascript included-->
<script src="/public/js/jquery-3.2.0.min.js"></script>
<script src="/public/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.17.0/axios.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
<script type="text/javascript" src="/public/js/jquery-qrcode-0.17.0.min.js"></script>
<script type="text/javascript" src="/public/js/jquery.gotop.js"></script>

<!-- Main JS-->
<script type="text/javascript" src="/public/js/site.js"></script>