<!DOCTYPE html>
<html lang="en">
<% include partials/dashboard-head.ejs %>
    <% include partials/confirm.ejs %>
    <% include partials/pay.ejs %>

        <body style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">
            <div id="page">

                <div id="main">
                    <div class="container-fluid" >
                        <div class="row">
                            <% include layouts/dashboard-header.ejs %>
                                <div class="col-sm-3" style="padding-left:0px">
                                    <div id="mySidenav" class="sidenav panel">
                                        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                                        <img src="\public\img\images1.jpg" class="img-circle" alt="User image" width="150" height="150">
                                        <h3>Welcome</h3>
                                        <h4>Elijah</h4>
                                        <div style="width:50%;margin:auto;margin-bottom:20px;">
                                                <a class="btn btn-default btn-success btn-block" href="/booking">Book ticket</a>
                                        </div>
                                            <ul class="nav nav-pills nav-stacked">
                                                    <li>
                                                        <a href="/dashboard">
                                                            <div>
                                                                <span class="glyphicon glyphicon-home"></span>
                                                            </div>
                                                            <div>
                                                                Dashboard
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="/history">
                                                            <div>
                                                                <span class="glyphicon glyphicon-shopping-cart"></span>
                                                            </div>
                                                            <div>Tickets</div>
                                                        </a>
        
                                                    </li>
                                                    <li>
                                                        <a href="/profile">
                                                            <div>
                                                                <span class="glyphicon glyphicon-user"></span>
                                                            </div>
                                                            <div>
                                                                Profile
                                                            </div>
                                                        </a>
        
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <div>
                                                                <span class="glyphicon glyphicon-comment"></span>
                                                            </div>
                                                            <div>
                                                                Help
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="/booking#contact">
                                                            <div>
                                                                <span class="glyphicon glyphicon-phone-alt"></span>
                                                            </div>
                                                            <div>
                                                                Contact us
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="/index">
                                                            <div>
                                                                <span class="glyphicon glyphicon-log-out"></span>
                                                            </div>
                                                            <div>
                                                                Logout
                                                            </div>
                                                        </a>
                                                    </li>
                                                </ul>
                                    </div>

                                </div>
                                <div class="col-sm-9" style="margin-top:50px;">
                                    <div id="content">
                                        <div class="container_fluid">
                                            <h2 style="text-align: center">BOOK YOUR TICKET</h2>
                                            <div class="row">
                                                <div class="col-sm-7">
                                                    <form class="booker" action="#" method="post" style="border: 0px">
                                                        <div class="form-group">
                                                            <label for="bustype">Choose a bus company</label>
                                                            <select name="bus" class="form-control" id="companybus">
                                                                <option>STC</option>
                                                                <option>VIP</option>
                                                                <option>Metro mass</option>
                                                            </select>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="name">Where are you presently?</label>
                                                            <select name="from" class="form-control" id="from">
                                                                <option>Accra</option>
                                                                <option>Aflao</option>
                                                                <option>Berekum</option>
                                                                <option>Bolga</option>
                                                                <option>Cape Coast</option>
                                                                <option>Dormaa</option>
                                                                <option>Kumasi</option>
                                                                <option>Navrongo-Paga</option>
                                                                <option>Ouagadougou</option>
                                                                <option>Sunyani</option>
                                                                <option>Takoradi</option>
                                                                <option>Tarkwa</option>
                                                                <option>Tamale</option>
                                                                <option>Wa</option>
                                                            </select>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="name">Where are you going?</label>
                                                            <select name="to" class="form-control" id="to">
                                                                <option>Accra</option>
                                                                <option>Aflao</option>
                                                                <option>Berekum</option>
                                                                <option>Bolga</option>
                                                                <option>Cape Coast</option>
                                                                <option>Dormaa</option>
                                                                <option>Kumasi</option>
                                                                <option>Navrongo-Paga</option>
                                                                <option>Ouagadougou</option>
                                                                <option>Sunyani</option>
                                                                <option>Takoradi</option>
                                                                <option>Tarkwa</option>
                                                                <option>Tamale</option>
                                                                <option>Wa</option>
                                                            </select>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="name">Select a date</label>
                                                            <select name="departdate" class="form-control" id="departdate">
                                                                <option>12/03/2018</option>
                                                                <option>12/03/2018</option>
                                                                <option>12/03/2018</option>
                                                                <option>12/03/2018</option>
                                                                <option>12/03/2018</option>
                                                            </select>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="name">Select time</label>
                                                            <select name="departtime" class="form-control" id="departtime">
                                                                <option>11:00am</option>
                                                                <option>11:00am</option>
                                                                <option>11:00am</option>
                                                                <option>11:00am</option>
                                                                <option>11:00am</option>
                                                            </select>
                                                        </div>
                                                        <div>
                                                            <button type="submit" data-toggle="modal" data-target="#confirm" style="background:#f26e78;color:white" class="btn btn-default nextbtn">Preview</button>
                                                            <button type="submit" data-toggle="modal" data-target="#pay" style="background:white;color:#f26e78" class="btn btn-default nextbtn">Buy Ticket</button>
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="col-sm-5">
                                                    <div>
                                                        <h4>Date</h4>
                                                        <p id="bookDate"></p>
                                                    </div>
                                                    <div>
                                                        <h4>Time</h4>
                                                        <p id="bookTime"></p>
                                                    </div>
                                                    <div>
                                                        <h3>
                                                            <p id="bus_report"></p>Seats left</h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>

                        </div>

                        <% include partials/pricing.ejs %>

                            <% include partials/contact.ejs %>
                    </div>

                    <% include layouts/footer.ejs %>
                </div>
                <script>
                    $(function () {
                        var datafrom = localStorage.getItem('firstkey');
                        var datato = localStorage.getItem('secondkey');

                        $('#from').val(datafrom);
                        $('#to').val(datato);
                    });
                </script>
        </body>

</html>