<!DOCTYPE html>
<html lang="en">
<% include partials/dashboard-head.ejs %>

<body style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">
    <div id="dashboardpage">
        <div id="main">
            <div class="container-fluid">
                <div class="row">
                        <div class="col-sm-3" style="padding-left:0px">
                                <div id="mySidenav">
                                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                                    <div class="header">
                                        <img src="\public\img\avatar.png" class="img-circle" alt="User image" width="150" height="150">
                                        <h3>Welcome</h3>
                                        <h4><%=user.firstname %></h4>
                                        <a style="width:50%;margin:auto;margin-bottom:10px;" class="btn btn-default btn-success btn-block btn-sm" href="/booking">Book ticket</a>
                                    </div>
                                    
                                    <ul class="nav">
                                        <li class="active1">
                                            <a href="/dashboard">
                                                    <i class="glyphicon glyphicon-home"></i>
                                                    Dashboard
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/history">
                                                    <i class="glyphicon glyphicon-shopping-cart"></i>
                                                Tickets
                                            </a>
        
                                        </li>
                                        <li>
                                            <a href="/profile"> 
                                                    <i class="glyphicon glyphicon-user"></i>
                                                    Profile
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                    <i class="glyphicon glyphicon-comment"></i>
                                                    Help
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/contact" target="_blank"> 
                                                    <i class="glyphicon glyphicon-phone-alt"></i>
                                                    Contact us
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/logout">
                                                    <i class="glyphicon glyphicon-log-out"></i>
                                                    Logout
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                    <div class="col-sm-9";">
                            <% include layouts/dashboard-header.ejs %>
                            <div class="conatainer-fluid">
                                <h1 class="text-center">DASHBOARD</h1>
                            </div>
                            <div id="dash" class="row">
                                <div class="col-sm-3">
                                    <div class="card narrower" style="background:-webkit-linear-gradient(90deg,#3f5efb 0% , #fc466b 100%)">
                                        <div class="panel-body">
                                            <div class="text-center">
                                                <i class="glyphicon glyphicon-shopping-cart" style="font-weight: 900; font-size: 45px;"></i>
                                                <h3>
                                                    <i>
                                                        <span class="ticketspurchased">31</span>
                                                    </i>
                                                </h3>
                                                <h5 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-weight: 900;">
                                                    TICKETS PURCHASED
                                                </h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="card narrower" style="background:-webkit-linear-gradient(90deg, #11998e 0% , #38ef7d 100%)">
                                        <div class="panel-body">
                                                <div class="text-center">
                                                    <i class="glyphicon glyphicon-shopping-cart" style="font-weight: 900; font-size: 45px;"></i>
                                                    <h3>
                                                        <i>
                                                            <span class="ticketspurchased">31</span>
                                                        </i>
                                                    </h3>
                                                    <h5 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-weight: 900;">
                                                        TICKETS PENDING
                                                    </h5>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="card narrower" style="background:-webkit-linear-gradient(90deg, #ee0979 0% , #ff6a00 100%)">
                                        <div class="panel-body">
                                                <div class="text-center">
                                                    <i class="glyphicon glyphicon-shopping-cart" style="font-weight: 900; font-size: 45px;"></i>
                                                    <h3>
                                                        <i>
                                                            <span class="ticketspurchased">31</span>
                                                        </i>
                                                    </h3>
                                                    <h5 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-weight: 900;">
                                                        TICKETS CANCELLED
                                                    </h5>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="card narrower" style="background:-webkit-linear-gradient(90deg, #45b649 0% , #4ef7f7 100%)">
                                        <div class="panel-body">
                                                <div class="text-center">
                                                    <i class="glyphicon glyphicon-shopping-cart" style="font-weight: 900; font-size: 45px;"></i>
                                                    <h3>
                                                        <i>
                                                            <span class="ticketspurchased">31</span>
                                                        </i>
                                                    </h3>
                                                    <h5 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-weight: 900;">
                                                        FREE TICKETS
                                                    </h5>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% include partials/pricing.ejs %>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <% include layouts/footer.ejs %>
    </div>
</body>

</html>