<!DOCTYPE html>
<html lang="en">
<% include partials/dashboard-head.ejs %>

<body style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">
    <div id="dashboardpage">
        <div id="main">
            <% include partials/confirm.ejs %>
            <div class="container-fluid">
                <div class="row">
                        <div class="col-sm-3" style="padding-left:0px">
                                <div id="mySidenav">
                                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                                    <div class="header">
                                        <img src="\public\img\avatar.png" class="img-circle" alt="User image" width="150" height="150">
                                        <h3>Welcome</h3>
                                        <h4>Elijah</h4>
                                        <a style="width:50%;margin:auto;margin-bottom:10px;" class="btn btn-default btn-success btn-block btn-sm" href="/booking">Book ticket</a>
                                    </div>
                                    
                                    <ul class="nav">
                                        <li class="active1">
                                            <a href="/dashboard">
                                                    <i class="glyphicon glyphicon-home"></i>
                                                    Dashboard
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/history">
                                                    <i class="glyphicon glyphicon-shopping-cart"></i>
                                                Tickets
                                            </a>
        
                                        </li>
                                        <li>
                                            <a href="/profile"> 
                                                    <i class="glyphicon glyphicon-user"></i>
                                                    Profile
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                    <i class="glyphicon glyphicon-comment"></i>
                                                    Help
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/contact"> 
                                                    <i class="glyphicon glyphicon-phone-alt"></i>
                                                    Contact us
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/index">
                                                    <i class="glyphicon glyphicon-log-out"></i>
                                                    Logout
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                    <div class="col-sm-9">
                            <% include layouts/dashboard-header.ejs %>
                            <div class="conatainer-fluid">
                                <h1 class="text-center">DASHBOARD</h1>
                            </div>
                            <div id="dash" class="row">
                                <div class="col-sm-3">
                                    <div class="card narrower" style="background:-webkit-linear-gradient( #c4f5e6, rgb(240, 235, 235));border-radius:0px;padding-top: 10px;">
                                        <div class="panel-body">
                                            <img src="\public\img\images2.jpg" class="img-circle text-center" alt="User image"
                                                width="50" height="50">
                                            <div class="text-center">
                                                <h5>
                                                    TICKETS PURCHASED
                                                </h5>
                                                <h5>
                                                    <i>
                                                        <span class="ticketspurchased">31</span>
                                                    </i>
                                                </h5>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="card" style="background:-webkit-linear-gradient( #c4e3f5, rgb(240, 235, 235));border-radius:0px;padding-top: 10px;"">
                                        <div class="panel-body">
                                            <img src="\public\img\images2.jpg" class="img-circle text-center" alt="User image"
                                                width="50" height="50">
                                            <div class="text-center">
                                                <h5>
                                                    TICKETS PENDING
                                                </h5>
                                                <h5>
                                                    <i>
                                                        <span class="ticketspending">31</span>
                                                    </i>
                                                </h5>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="card" style="background:-webkit-linear-gradient( #f0f1af, rgb(240, 235, 235));border-radius:0px;padding-top: 10px;">
                                        <div class="panel-body">
                                            <img src="\public\img\images2.jpg" class="img-circle text-center" alt="User image"
                                                width="50" height="50">
                                            <div class="text-center">
                                                <h5>
                                                    TICKETS CANCELLED
                                                </h5>
                                                <h5>
                                                    <i>
                                                        <span class="ticketscancelled">31</span>
                                                    </i>
                                                </h5>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="card" style="background:-webkit-linear-gradient( #eeb9eb, rgb(240, 235, 235));border-radius:0px;padding-top: 10px;">
                                        <div class="panel-body">
                                            <img src="\public\img\images2.jpg" class="img-circle text-center" alt="User image"
                                                width="50" height="50">
                                            <div class="text-center">
                                                <h5>
                                                    FREE TICKETS
                                                </h5>
                                                <h5>
                                                    <i>
                                                        <span class="freetickets">31</span>
                                                    </i>
                                                </h5>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% include partials/pricing.ejs %>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <% include layouts/footer.ejs %>
    </div>
</body>

</html>