<!DOCTYPE html>
<html lang="en">
<% include partials/dashboard-head.ejs %>

<body>
    <div  id="historypage">
        <div id="main">
            <% include partials/confirm.ejs %>
            <div class="container-fluid">
                <div class="row">
                        <div class="col-sm-3" style="padding-left:0px">
                                <div id="mySidenav">
                                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                                    <div class="header">
                                        <img src="\public\img\avatar.png" class="img-circle" alt="User image" width="150" height="150">
                                        <h3>Welcome</h3>
                                        <h4><%=user.firstname %></h4>
                                        <a style="width:50%;margin:auto;margin-bottom:10px;" class="btn btn-default btn-success btn-block btn-sm" href="/booking">Book ticket</a>
                                    </div>
                                    
                                    <ul class="nav">
                                        <li>
                                            <a href="/dashboard">
                                                    <i class="glyphicon glyphicon-home"></i>
                                                    Dashboard
                                            </a>
                                        </li>
                                        <li class="active1">
                                            <a href="/history">
                                                    <i class="glyphicon glyphicon-shopping-cart"></i>
                                                Tickets
                                            </a>
        
                                        </li>
                                        <li>
                                            <a href="/profile"> 
                                                    <i class="glyphicon glyphicon-user"></i>
                                                    Profile
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                    <i class="glyphicon glyphicon-comment"></i>
                                                    Help
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/contact" target="_blank"> 
                                                    <i class="glyphicon glyphicon-phone-alt"></i>
                                                    Contact us
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/index">
                                                    <i class="glyphicon glyphicon-log-out"></i>
                                                    Logout
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                    <div class="col-sm-9">
                            <% include layouts/dashboard-header.ejs %>
                            <div class="conatainer-fluid" style="color: white">
                                <h1 class="text-center">TICKET HISTORY</h1>
                                <p class="text-center">Click on table to view ticket details</p>
                            </div>   
                            <table id="ticketHistory" class="table table-bordered table-responsive" style="width:100%;overflow-x: scroll;">
                                <thead>
                                    <tr>
                                        <th>Ticket ID</th>
                                        <th>Date</th>
                                        <th>From</th>
                                        <th>To</th>
                                        <th>Price(GH₵)</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <% if ( t_history !== "") { %>
                                        <tbody>
                                            <tr>
                                                <td>t_history.id</td>
                                                <td>t_history.the_date</td>
                                                <td>t_history.t_from</td>
                                                <td>t_history.t_to</td>
                                                <td>t_history.amount</td>
                                                <td><a href="ticketA">Preview</a></td>
                                            </tr>
                                        </tbody>
                                 <% } else { %>
                                    <div class="alert alert-danger alert-dismissible fade in">
                                        <strong>Server error! </strong>  No data to display
                                    </div>
                                <% } %> 
                                <tfoot>
                                    <tr>
                                        <th>Ticket ID</th>
                                        <th>Date</th>
                                        <th>From</th>
                                        <th>To</th>
                                        <th>Price(GHC)</th>
                                        <th>Status</th>
                                    </tr>
                                </tfoot>
                            </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <% include layouts/footer.ejs %>
    </div>
</body>

</html>