<!DOCTYPE html>
<html lang="en">
<% include partials/head.ejs %>

<body style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">
    <div id="logmain">
                    <div class="login">
                            <div class="logpage">
                                <form action="/passtoken" method="POST">
                                    <% if (message.length > 0){ %>
                                        <i><span class="msg"><%= message %></span></i>
                                    <% } %>
                                    <div class="form-group">
                                        <label for="tel">Enter mobile number to reset password</label>
                                        <input type="tel" name="tel" class="form-control num" required id="tel"  minlength="10" maxlength="10" placeholder="example: 0240000000">
                                    </div>
                                    <button type="submit" class="btn btn-sm btn-primary">Submit</button>
                                </form>
                            </div>
                        
                    </div>        
    </div>
</body>

</html>