<!DOCTYPE html>
<html lang="en">
<% include partials/head.ejs %>

<body style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">
    <div id="logmain">
                    <div class="login">
                            <div class="logpage">
                                <form action="/newpass" method="POST">
                                    <% if (msg.length > 0){ %>
                                        <i><span class="msg"><%= message %></span></i>
                                    <% } %>
                                    <div class="form-group">
                                        <label for="tel">Enter token</label>
                                        <input type="number" name="token" class="form-control" value="<%= sometoken %>" required>
                                    </div>
                                    <button type="submit" class="btn btn-sm btn-primary">Submit</button>
                                    <p>Didn't receive any code? <a href="#" style="color:red" class="resend">Resend token</a></p>
                                </form>
                            </div>
                        
                    </div>        
    </div>
   <script>
   </script>
</body>


</html>