<!DOCTYPE html>
<html lang="en">
<% include partials/head.ejs %>

    <body style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">
        <div id="logmain">
                        <div class="ticketsub">
                                <div class="logpage">
                                    <form >
                                        
                                        <div class="modal-body">
                                            <legend class="text-center">Enter Payment Details</legend>
                                            <div class="row">
                                                <div class="col-lg">
                                                    <div class="form-group">
                                                        <input type="text" title="FirstName" name="firstname" id="firstname" class="form-control" placeholder="Firstname" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg">
                                                    <div class="form-group">
                                                        <input type="text" title="LastName" name="lastname" id="firstname" class="form-control" placeholder="Lastname" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg">
                                                    <div class="form-group">
                                                        <input type="tel" title="Mobile Number" name="extra_mobile" id="number" class="form-control" maxlength="10" placeholder="Contact Number" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg">
                                                    <div class="form-group">
                                                        <input type="email" title="Email" name="extra_email" id="extra_email" class="form-control" placeholder="Email" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg">
                                                    <div class="form-group">
                                                        <input type="text" name="total" class="form-control" id="total" placeholder="Amount(GH₵)" value="<%=amount %>" required disabled>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg">
                                                    <div class="form-group">
                                                        <input class="form-control" type="text" name="description" id="description" placeholder="Description of Payment" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg">
                                                    <script src="https://api.ravepay.co/flwv3-pug/getpaidx/api/flwpbf-inline.js"></script>
    <button type="button" onClick="payWithRave()">Pay Now</button>
                                                    <!-- <button class="btn btn-primary btn-block" style="padding: 8px 11px;" type="submit"><strong>Submit</strong></button> -->
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-lg text-center">
                                                    <a class="btn btn-danger btn-block" href="/dashboard"><strong>Cancel</strong></a>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    
                                </div>
                            
                        </div>        
        </div>
    </body>
    <script>
        const API_publicKey = "FLWPUBK_TEST-abdf93acc2ba3a7b94fa44ad0d8ec0cf-X";
    
        function payWithRave() {
            var x = getpaidSetup({
                PBFPubKey: API_publicKey,
                customer_email: "user@example.com",
                amount: 20,
                customer_phone: "234099940409",
                currency: "GHS",
                txref: "rave-123456",
                meta: [{
                    metaname: "flightID",
                    metavalue: "AP1234"
                }],
                onclose: function() {},
                callback: function(response) {
                    var txref = response.tx.txRef; // collect txRef returned and pass to a server page to complete status check.
                    console.log("This is the response returned after a charge", response);
                    if (
                        response.tx.chargeResponseCode == "00" ||
                        response.tx.chargeResponseCode == "0"
                    ) {
                        // redirect to a success page
                        window.location = "https://ticketbooker.herokuapp.com/ticket-success"
                    } else {
                        window.location = "https://ticketbooker.herokuapp.com/ticket-failure"
                        // redirect to a failure page.
                    }
    
                    x.close(); // use this to close the modal immediately after payment.
                }
            });
        }
    </script>
</html>
