<html>
        <% include partials/head.ejs %>

    <body style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">
        <div id="logmain">
                        <div class="login">
                                <div class="logpage">
                                    <h3 class="text-center">SUCCESS</h3>
                                    <br> 
                                    <p class="text-center">Go to <a href="/login">Login page</a> to login</p>
                                </div>
                            
                        </div>        
                    </div>
    </body>
</html>