<html>
        <% include partials/head.ejs %>

    <body style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">
        <div id="logmain">
                        <div class="ticketsub">
                                <div class="logpage" style="background-color: rgb(247, 243, 196);">
                                    <h3 class="text-center" style="color: rgb(44, 255, 44)">SUCCESS</h3>
                                    <hr>
                                    <h4 class="text-center">Successfully paid for ticket</h4>
                                    <h4 class="text-center">Go to <strong><a href="/history">Ticket History</a></strong> to view ticket</h4>
                                </div>
                            
                        </div>        
                    </div>
    </body>
</html>