<!DOCTYPE html>
<html lang="en">
<% include partials/head.ejs %>

    <body>
        <div id="token">
            <% include layouts/header.ejs %>

                <div class="container-fluid">
                    <div class="row" style="width:60%;margin:auto;">
                        
                        <div class="col-sm-12"  style="padding:230px 50px">
                            <form action="#" method="post"></form>
                                <div class="form-group">
                                    <label for="tel">Enter token</label>
                                    <input type="number" class="form-control" required id="tel">
                                </div>
                                <button type="submit" class="btn btn-default btn-success btn-block next">Submit</button>
                            </form>
                            <p>Didn't receive any code? <a href="#" style="color:red" >Resend code</a></p>
                        </div>
                        
                    </div>
                </div>

                <% include layouts/footer.ejs %>
        </div>
    </body>

</html>