body{
    margin: auto;
    font-family: "Open Sans",-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 1.5;
}

#mainpage{
    background-color: white;
}

#token {
	background:url("/public/img/laptop.jpg");
	background-attachment:fixed;
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
    color: white;
}

#dashboardpage {
	background:url("/public/img/gra.jpg");
	background-attachment:fixed;
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
}

#signpage {
	background:url("/public/img/balls.jpg");
	background-attachment:fixed;
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
    color: white;
}

#historypage {
	background:url("/public/img/tria.jpg");
	background-attachment:fixed;
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
    color: white;
}

#profilepage {
	background:url("/public/img/material.jpg");
	background-attachment:fixed;
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
    color: white;
}

.modal-content{
    width: 70%;
    margin: auto;
}
.panel{
    padding-top: 30px;
    text-align: center;
    background-color: white;
    box-shadow: 0px 0px 7px #D3D3D3;
}
/* Sidenav Styles */
#mySidenav{
    color: white;
    z-index: 1000;
    width: 300px;
    height: 100%;
    overflow-y: auto;
    background: #37474F;
    -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#mySidenav .header {
    padding: 40px;
    background-color: #263238;
    font-size: 20px;
    line-height: 52px;
    text-align: center;
  }
  #mySidenav .header img{
    border: 5px solid rgb(12, 12, 12);
  }
  #mySidenav .nav a{
    background: none;
    border-bottom: 1px solid #455A64;
    color: #CFD8DC;
    font-size: 14px;
    padding: 16px 24px;
    letter-spacing: 0.5px;
    line-height: 1.5;
  }

  #mySidenav .nav a:hover{
    background: none;
    color: #ECEFF1;
  }
  
  #mySidenav .nav a i{
    margin-right: 16px;
  }

#mySidenav .nav .active1{
    background-color: rgb(30, 14, 119) !important;
}

tr:hover{
    cursor: pointer;
}

#content .container-fluid .col-sm-3{
    padding: 0px;
}
.navbar {
    margin-bottom: 0px;
}

#content {
	padding: 75px;
	background:url("/public/img/back.jpg");
	background-attachment:fixed;
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
    color: white;
}

.cancelPage{
    width: 50%;
    margin: auto;
}

.card {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.2s ease-in-out;
    box-sizing: border-box;
    margin-top:10px;
    margin-bottom:10px;
    background-color:#FFF;
    border: 1px solid rgb(160, 159, 159);
    border-radius: 5px;
  }
  
  .card:hover {
    box-shadow: 0 5px 5px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    cursor: pointer;
  }
  .card > .card-inner {
    padding:10px;
  }
  .card .header h2, h3 {
    margin-bottom: 0px;
    margin-top:0px;
  }
  .card .header {
    margin-bottom:5px;
  }
  .card img{
    width:100%;
  }

#content .login .row{
    width:60%;
    margin:auto;
    padding:40px;
}
/*hoverable dropdown trigger*/
.dropdown:hover .dropdown-menu {
    display: block;
}

.closebtn{
    display: none;
    color: white;
}

.disable{
    display: none;
}

.msg{
    color: red;
}
.reseter{
    width:60%;
    margin:auto;
    padding:230px 50px;
}

#gotop{
    display: flex; 
    border-radius: 50%; 
    cursor: pointer; 
    position: fixed; 
    align-items: center; 
    justify-content: center; 
    background: rgb(211, 69, 69) !important; 
    color: rgb(255, 255, 255); 
    width: 45px; 
    height: 45px; 
    bottom: 2em; right: 2em;
}
footer{
    float: left;
    width: 100%;
    background-color: rgba(18, 3, 53, 0.925);
    color: white;
    padding: 10px;
}


@media screen and (max-width:770px){
    #content{
        padding: 10px;
        height: 800px;
    }
    .modal-content{
        width: 100%;
       
    }
    .bookingPage, .cancelPage{
        width: 100%;
        margin: auto;
    } 
    .menubars{
        display: block;
    }
    
    .nav-stacked li a{
        padding: 5px;
    }
    #mySidenav .header img{
        width: 70px;
        height: 70px;
    }
    .reseter{
        width: 100%;
        padding:230px 0px;
    }
    /* The side navigation menu */
    #mySidenav {
        height: 100%; /* 100% Full-height */
        width: 0; /* 0 width - change this with JavaScript */
        position: fixed; /* Stay in place */
        z-index: 1; /* Stay on top */
        top: 1;
        left: 0;
        overflow-x: hidden; /* Disable horizontal scroll */
        transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    }

    /* Position and style the close button (top right corner) */
    .closebtn {
        position: absolute;
        top: 0;
        right: 200px;
        font-size: 36px !important;
        margin-left: 50px;
        display: block;
    }
    .card .card-body h1{
        font-size: 12px;
    }
    .card .card-body p{
        font-size: 10px;
    }
    .card .card-body a{
        font-size: 10px;
    }
    #content .login .row{
        width:100%;
        padding:20px;
    }

}