body{
    margin: auto;
    font-family: Tahoma;
}

#page{
    background:-webkit-linear-gradient(#989699, #f26e78);
}

#mainpage{
    background-color: white;
}

#token {
	background:url("/public/img/laptop.jpg");
	background-attachment:fixed;
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
    color: white;
}

#dashboardpage {
	background:url("/public/img/gra.jpg");
	background-attachment:fixed;
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
}

#signpage {
	background:url("/public/img/balls.jpg");
	background-attachment:fixed;
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
    color: white;
}

#historypage {
	background:url("/public/img/tria.jpg");
	background-attachment:fixed;
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
    color: white;
}

#profilepage {
	background:url("/public/img/material.jpg");
	background-attachment:fixed;
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
    color: white;
}

.modal-content{
    width: 70%;
    margin: auto;
}
.panel{
    padding-top: 30px;
    text-align: center;
    background-color: white;
    box-shadow: 0px 0px 7px #D3D3D3;
}
.panel img{
    border: 5px solid rgb(245, 137, 187);
}

#mySidenav{
    background:-webkit-linear-gradient( #ee3030, white);
    border-radius: 0px;
    border: 0px;
}

tr:hover{
    cursor: pointer;
}


#content .container-fluid .col-sm-3{
    padding: 0px;
}
.navbar {
    margin-bottom: 0px;
}

.nav-stacked li a{
    color: black;
    text-align: left;
    padding: 20px;
    margin-left: 20px;
}
.nav-stacked li:hover{
    background-color:  #D3D3D3;
}
.nav-stacked li a:hover{
    text-decoration: none;
}

#content {
    border-radius:35px;
	padding: 75px;
	background:url("/public/img/laptop.jpg");
	background-attachment:fixed;
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
    color: white;
}
.active1{
    background-color: rgb(225, 65, 118) !important;
}

.cancelPage{
    width: 50%;
    margin: auto;
}

/*hoverable dropdown trigger*/
.dropdown:hover .dropdown-menu {
    display: block;
}

.closebtn{
    display: none;
}

.disable{
    display: none;
}

.msg{
    color: red;
}
.reseter{
    width:60%;
    margin:auto;
    padding:230px 50px;
}

#gotop{
    display: flex; 
    border-radius: 50%; 
    cursor: pointer; 
    position: fixed; 
    align-items: center; 
    justify-content: center; 
    background: rgb(211, 69, 69) !important; 
    color: rgb(255, 255, 255); 
    width: 45px; 
    height: 45px; 
    bottom: 2em; right: 2em;
}
footer{
    float: left;
    width: 100%;
    background-color: black;
    color: white;
}


@media screen and (max-width:770px){
    #content{
        
        padding: 10px;
        height: 800px;
    }
    .modal-content{
        width: 100%;
       
    }
    .sign, .bookingPage, .cancelPage{
        width: 100%;
        margin: auto;
    } 
    .sign{
        border-right: 0px solid red;
    }
    .menubars{
        display: block;
    }
    
    .nav-stacked li a{
        padding: 5px;
    }
    .panel img{
        width: 50px;
        height: 50px;
    }
    .reseter{
        width: 100%;
        padding:230px 0px;
    }
    /* The side navigation menu */
    .sidenav {
        height: 100%; /* 100% Full-height */
        width: 0; /* 0 width - change this with JavaScript */
        position: fixed; /* Stay in place */
        z-index: 1; /* Stay on top */
        top: 1;
        left: 0;
        overflow-x: hidden; /* Disable horizontal scroll */
        transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    }

    /* Position and style the close button (top right corner) */
    .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px !important;
        margin-left: 50px;
        display: block;
    }

}